<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camping.mapper.FreeBoardMapper">


	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							board_title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							board_content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							board_writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<select id="getList" resultType="com.camping.domain.BoardVO">
	<![CDATA[
		select * from board_free where board_no > 0 
		]]>
	</select>

	<insert id="insert">
		insert into board_free (board_no, board_title, board_content, mem_id)
		values (seq_board_free.nextval, #{board_title}, #{board_content}, #{mem_id})
	</insert>

	<insert id="insertSelectKey">

		<selectKey keyProperty="board_no" order="BEFORE"
			resultType="int">
			select seq_board_free.nextval from dual
		</selectKey>

		insert into board_free (board_no, board_title, board_content, mem_id)
		values (#{board_no},
		#{board_title}, #{board_content}, #{mem_id})
	</insert>

	<select id="read" resultType="com.camping.domain.BoardVO">
		select * from board_free where board_no =
		#{board_no}
	</select>


	<delete id="delete">
		delete board_free where board_no = #{board_no}
	</delete>

	<update id="update">
		update board_free
		set board_title= #{board_title},
		board_content=#{board_content},
		mem_id = #{mem_id},
		board_updateDate = sysdate
		where board_no =
		#{board_no}
	</update>



	<select id="getListWithPaging"
		resultType="com.camping.domain.BoardVO">
  <![CDATA[
  select 
    board_no, board_title, board_content, mem_id, board_date, board_updateDate, board_hit
  from 
      (
      select /*+INDEX_DESC(board_free pk_board) */
        rownum rn, board_no, board_title, board_content, mem_id, board_date, board_updateDate, board_hit
      from 
        board_free
      where 
  ]]>
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							board_title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							board_content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							board_writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
      
  <![CDATA[    
      rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum} -1) * #{amount}   
  ]]>
	</select>

	<select id="getTotalCount" resultType="int">
		select count(*) from board_free where 
		
		<include refid="criteria"></include> 
		
		board_no > 0
		
	</select>

<update id="increaseViewCount">
    <![CDATA[
    update board_free
    set board_hit = board_hit + 1
    where board_no = #{board_no}
    ]]>
</update>


</mapper>